/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

/* About and People Pages */

.page-id-3274 div.flex_cell {
  padding: 0px;
}

div.av-image-hotspot_inner {
  display: none;
}

div.av-image-hotspot_pulse {
  display: none;
}

/* Portfolio (Project & Publication) Browser */
.grid-sort-container .grid-entry{
	padding: 15px;
}


div.grid-entry.post-entry .inner-entry .grid-content {
	max-height:70px;
	min-height:70px;
	background-color: #007EA7;
	padding: 15px;
}

div.grid-entry.post-entry .inner-entry .grid-content header.entry-content-header h3.entry-title{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	background-color: #007EA7;
	color: white;
	text-overflow: ellipsis;
	text-align: center;
	vertical-align: middle;
}

div.grid-entry.post-entry .inner-entry .grid-content .avia-arrow{
	display: none;
}

div.grid-entry.post-entry .inner-entry .grid-content header.entry-content-header h3.entry-title a {
	display: block;
	font-size:0.45em;
	line-height: 1.3em;
	vertical-align:middle;
}

div.grid-entry.post-entry .inner-entry .grid-content header.entry-content-header h3.entry-title title {
	color:white;
}

/*Page Title*/

#top .alternate_color.title_container .main-title a {
    color: #001A57;
}

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}
